flows(2).json
[{"id":"16f05225.ffb33e","type":"tab","label":"SMA","disabled":false,"info":""},{"id":"7bbb4451.f83f3c","type":"comment","z":"16f05225.ffb33e","name":"fonte dati","info":"https://github.com/rlindner/node-red-contrib-sma-webconnect","x":280,"y":60,"wires":[]},{"id":"c41017d7.0b6078","type":"modbus-read","z":"16f05225.ffb33e","name":"Inverter 11","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"InputRegister","adr":"30775","quantity":"10","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"66f02a73.ff6784","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":100,"y":180,"wires":[["108d935f.3cb0dd"],[]]},{"id":"108d935f.3cb0dd","type":"function","z":"16f05225.ffb33e","name":"Estrai Potenza","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\n\n\nintView[0] =  //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = msg.payload[1];\nmsg.topic = \"W\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["888e3f9b.852ba"]]},{"id":"7092cb48.adb844","type":"modbus-read","z":"16f05225.ffb33e","name":"Inverter 12","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"30775","quantity":"10","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7ce6cf0.948ad3","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":100,"y":260,"wires":[["359a0aab.d52b46"],[]]},{"id":"359a0aab.d52b46","type":"function","z":"16f05225.ffb33e","name":"Estrai Potenza","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\n\n\nintView[0] =  //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = msg.payload[1];\nmsg.topic = \"W\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["5d741966.67b868"]]},{"id":"888e3f9b.852ba","type":"change","z":"16f05225.ffb33e","name":"","rules":[{"t":"set","p":"var1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":180,"wires":[["a5687431.52d6d8"]]},{"id":"a5687431.52d6d8","type":"change","z":"16f05225.ffb33e","name":"sum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$flowContext('var1')+$flowContext('var2')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":220,"wires":[["7f5104d2.37e44c"]]},{"id":"5d741966.67b868","type":"change","z":"16f05225.ffb33e","name":"","rules":[{"t":"set","p":"var2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[["a5687431.52d6d8"]]},{"id":"7f5104d2.37e44c","type":"ha-entity","z":"16f05225.ffb33e","name":"Produzione Fotovoltaico","server":"33548a2.5992e76","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Produzione Fotovoltaico"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:gauge"},{"property":"unit_of_measurement","value":"W"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":890,"y":220,"wires":[[]]},{"id":"66f02a73.ff6784","type":"modbus-client","z":"","name":"Inverter 11","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.50.11","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"3","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"7ce6cf0.948ad3","type":"modbus-client","z":"","name":"Inverter 12","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.50.12","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":3,"commandDelay":1,"clientTimeout":1500,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"33548a2.5992e76","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]